### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
out/

### VS Code ###
.vscode/
/bin

### gradle
.gradle
build/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**
!**/src/test/**

### terraform
.terraform
.terraform.lock.hcl
.terraform.tfstate.lock.info
terraform.tfstate
terraform.tfstate.backup
tfplan

### terragrunt
.terragrunt-cache

### os
.DS_Store

###
application-mac.yml
*-port-forward.log
.tool-versions